.documentation__groups {
    line-height: 2.5;
    color: rgba(0, 0, 0, .65);
    width: 100%;
    box-sizing: border-box;
}

.documentation__groups__method {
    margin-left: 1.4rem;
}

.documentation__groups__title,
.documentation__groups__method {
    cursor: pointer;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;

}

.documentation__groups__title:hover,
.documentation__groups__method:hover {
    color: rgba(0, 0, 0, .87);
    text-decoration: underline;
}
