<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav-container__sidenav" opened mode="side">
        <div class="sidenav-container__sidenav__content">
            <header class="sidenav-container__sidenav__header" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="menu__button">menu</mat-icon>
                <h1 class="documentation__title">{{documentation?.info?.title}}</h1>
            </header>
            <main>
                <app-methods-filter [documentation]="documentation" *ngIf="documentation"></app-methods-filter>
            </main>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="documentation__container">
            <app-documentation [documentation]="documentation" *ngIf="documentation"></app-documentation>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
