<div fxLayout="column">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav fixedInViewport="true" #sidenav class="sidenav-container__sidenav" opened mode="side">
            <main class="sidenav-container__sidenav__content">
                <app-methods-filter [documentation]="documentation" *ngIf="documentation"></app-methods-filter>
            </main>
        </mat-sidenav>
        <mat-sidenav-content>
            <header class="header" fxLayout="row" fxLayoutAlign="center center">
                <div class="header__container" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <button mat-icon-button (click)="sidenav.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <h1 class="documentation__title">{{documentation?.info?.title}}</h1>
                    </div>
                    <button mat-flat-button color="accent" (click)="signIn()">Sign In</button>
                </div>
            </header>
            <div class="documentation__container">
                <app-documentation [documentation]="documentation" *ngIf="documentation"></app-documentation>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
