.documentation__main {
    background: linear-gradient(to right, transparent 50%, rgb(27, 40, 56) 50%);
}

.documentation__header {
    padding-bottom: 2.8rem;
}

.documentation__groups__responses {
    width: 100%;
    background: lightcoral;
}

.documentation__group {
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
}

.documentation__group__header {
    display: flex;
    flex-direction: row;
}

.documentation__group__header__title {
    width: 50%;
    padding-left: 1.4rem;
    padding-top: 1.4rem;
    box-sizing: border-box;
    text-transform: uppercase;
}

.documentation__group__header__expander {
    background-color: rgb(26, 38, 49);
    color: rgba(255, 255, 255, .87);
    width: 50%;
    padding-top: .75rem;
    padding-right: .75rem;
    display: flex;
    flex-direction: row;
    place-content: center flex-end;
    align-items: center;
    box-sizing: border-box;
}


@media screen and (min-width: 1000px) {
    .documentation__group__method {
        grid-template-columns: 50% 50%;
    }
}

.documentation__group__method {
    display: grid;
    line-height: 1.7;
}

.documentation__method__details {
    padding: 2.8rem 1.4rem;
    box-sizing: border-box;
    width: 100%;
}

.documentation__method__title {
    font-size: 1.3em;
    display: block;
    margin-bottom: .75rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.documentation__method__description {
    font-size: .9em;
    color: rgba(0, 0, 0, .65);
}

.documentation__method__endpoint {
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    place-content: center start;
    margin-bottom: 2.8rem;
    line-height: 1;
    box-sizing: border-box;
}

.documentation__method__endpoint.--get {
    background-color: rgba(34, 182, 150, .16);
    color: rgba(34, 182, 150, .87);
}

.documentation__method__endpoint__type.--get {
    background-color: rgb(34, 182, 150);
}

.documentation__method__endpoint.--post {
    background-color: rgba(255, 69, 0, .16);
    color: rgba(255, 69, 0, .87);
}

.documentation__method__endpoint__type.--post {
    background-color: rgb(255, 69, 0);
}

.documentation__method__endpoint.--put {
    background-color: rgba(255, 166, 0, .16);
    color: orange;
}

.documentation__method__endpoint__type.--put {
    background-color: orange;
}

.documentation__method__endpoint.--delete {
    color: darkred;
    background-color: rgba(139, 0, 0, .16);
}

.documentation__method__endpoint__type.--delete {
    background-color: crimson;
}

.documentation__method__endpoint.--patch {
    background-color: rgba(128, 128, 0, .16);
    color: olive;
}

.documentation__method__endpoint__type.--patch {
    background-color: olive;
}

.documentation__method__endpoint__type {
    color: rgba(255, 255, 255, .87);
    text-transform: uppercase;
    width: 75px;
    font-weight: bolder;
    text-align: center;
    border-radius: 2px 0 0 2px;
    padding: .75rem;
}

.documentation__method__endpoint__address {
    padding: .75rem;
    // color: rgb(46, 181, 150);
}

.documentation__method__response__container {
    width: 100%;
    padding: 2.8rem 0;
    background-color: rgb(26, 38, 49);
    color: rgba(255, 255, 255, .87);
    box-sizing: border-box;
}

.documentation__method__response {
    border-radius: 2px;
    background-color: rgb(21, 33, 45);
    padding: .75rem 1.4rem;
    margin-bottom: 1.4rem;
    position: relative;
    color: rgba(255, 255, 255, .87);
}

.documentation__method__response__header {
    padding-bottom: .75rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.documentation__method__response__json {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.documentation__method__parameters__container {
    padding-bottom: 1.4rem;
}

table {
    text-align: left;
    width: 100%;
}

tr,
td {
    padding: 0;
    vertical-align: sub;
}

pre {
    line-height: 1;
    margin: 0;
}

// .documentation__method__parameter--required {
//     padding: .25rem;
//     background: green;
//     border-radius: 2px;
//     color: rgba(255, 255, 255, .87);
// }

.documentation__method__parameter--required {
    font-weight: bolder;
}

.documentation__method__parameter__body {
    background-color: #fafafa;
    border-radius: 2px;
    padding: .75rem;
}
